*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  --cell-size: 30px;
  --mark-size: calc(var(--cell-size)*.4);
}

body{
  margin: 0;
}

h1{
  margin: 1rem;
}

.border{
 width: 100vw;
 height: 100vh;
}

.gameboard{
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);;
  border: 1px solid black; 
}

#top{
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

#middle{
  display: flex;
  justify-items: center;
  gap: 2rem;
  justify-content: center;
  align-content: center;
}

#player-board-title, #cpu-board-title{
  font-size: 1.5rem;
  text-align: center;
}

#center{
  text-align: center;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
}

#hit-or-miss{
  font-size: 2rem;
}

#announcements{
  font-size: 2rem;
}

.cell{
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--cell-size);
  height: var(--cell-size);
  background-color:  rgb(106, 199, 242);
  font-size: 15px;
  padding: 0;
  font-family: Courier, monospace;
  text-align: center;
  color: white;
  border: .5px solid rgb(100,100,100);
  position: relative;
  cursor: pointer;
}

.cell.hit, .cell.miss {
/*#playerGB>.cell {*/
  cursor: not-allowed;
}

.cell.hit::before {
  content: '';
  position: absolute;
  width: calc(var(--mark-size));
  height: calc(var(--mark-size));
  background-color: rgb(50,50,50);
  border-radius: 50%;
}
.cell.hit::after {
  content: '';
  position: absolute;
  width: calc(var(--mark-size)*.93);
  height: calc(var(--mark-size)*.93);
  background-color: red;
  border-radius: 50%;
}
.cell.miss::before {
  content: '';
  position: absolute;
  width: calc(var(--mark-size));
  height: calc(var(--mark-size));
  background-color: rgb(50,50,50);
  border-radius: 50%;
}
.cell.miss::after {
  content: '';
  position: absolute;
  width: calc(var(--mark-size)*.93);
  height: calc(var(--mark-size)*.93);
  background-color: white;
  border-radius: 50%;
}

.cell.hasShip{
 background-color: rgb(150, 150, 150);
}

.end-game-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.8);
  color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 5rem;
  gap: 1rem;
}

.end-game-message.show {
  display: flex;
}

#restart-button {
  font-size: 2rem;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 0.8rem;
  padding: 10px 20px;
}

.ship {
  display: flex;
}

.ship>div {
  width: var(--cell-size);
  height: var(--cell-size);
  background-color: rgb(150, 150, 150);
  border: .5px solid rgb(100,100,100);
}

.cell.hasShip.set {
  background-color:  rgb(80,80,80);
}

.head::before {
  content: '';
  position: absolute;
  width: calc(var(--mark-size));
  height: calc(var(--mark-size));
  background-color: rgb(240,240,150);
  border-radius: 50%;
}

button {
  margin: 1rem;
  border: 1px solid #0066cc;
  background-color: #0099cc;
  color: #ffffff;
  padding: 5px 10px;
}

button:hover {
  border: 1px solid #0099cc;
  background-color: #00aacc;
  color: #ffffff;
  padding: 5px 10px;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

